@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'canvas';
@import 'toolbar';
@import 'modal';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

div#app-container {
    height: $canvas-height;
    width: $canvas-width;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}