i.fa-github-square {
  position: absolute;
  top: 1rem;
  right: 1rem;
  
  color: #f1faee;
  text-shadow: 5px 5px 0 #e63946;
  font-size: 3rem;

  transition: all 0.5s;
}
i.fa-github-square:hover {
  color: rgb(168, 218, 220);
  text-shadow: 6px 6px 0 #e63946;
  cursor: pointer;
}
.msg {
  position: absolute;
  top: 1.5rem;
  right: 4rem;

  height: 2rem;
  width: 12rem;
  padding: 0.5rem;

  background-color: rgb(168, 218, 220);
  box-shadow: 5px 5px 0 #e63946;

  animation: fadeleft 0.5s forwards;
}
footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100vw;
  background-color: #1d3557;
  color: #f1faee;
  padding: 1rem;
  text-align: center;
  
}

@keyframes fadeleft {
  from {
      transform: translateX(1rem);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
      box-shadow: 6px 6px 0 #e63946;
  }
}