@import 'variables';

div#canvas {
    display: grid;
    height: $canvas-height;
    width: $canvas-width;
    border: 1px solid black;
    background-color: white;

    .pixel {
        border: 1px solid black;
        transition: all 0.5s;

        &:hover {
            border: 1px solid white;
        }
    }
}
